@import "blueprint";
@import "compass";
@import "icons/*.png";
@import "mobile/*.png";
@include all-icons-sprites(true);
@include all-mobile-sprites(true);
.products {

	.item {
		.preview {
			a {
				.name {
					font-size: 18px;
					line-height: 18px;
				}
			}
		}
		.price {
			font-size: 18px;
			line-height: 18px;
		}
	}
}