.icons-up {
	border: none;
	position: fixed;
	z-index: 100;
	right:50%;
	margin-right:-540px;
	bottom:50px;
}
.products {
	margin: 0 -1% 50px;
}

.tovar-carusel {
	li {
		width: 220px!important;

		height:330px;

	}
	.tovar-carusel-item {

		width: 200px;
		&:hover {
			height: 310px;
			width: 220px;
		}
	}
}